* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {

    background: linear-gradient(to right, #36d1dc, #5b86e5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 25px;

}

form {

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: white
}

label {

    padding: 5px;

}

form>input:not(input[type='checkbox']) {

    width: 100%;
    margin: 20px 0;
    padding: 5px;
    border: none;
    outline: none;


}

form>input[type='email'],
form>input[type='password'] {

    background: transparent;
    border-bottom: 1px solid lightgray !important;
    color: white;

}

h1,
p {

    text-align: center;
    margin-bottom: 10px;
}

form>input::placeholder {

    color: lightgrey
}

input[type='submit'] {

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid lightskyblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 600px) {
    .loader {
        width: 40px;
        height: 40px;
        border: 8px solid #f3f3f3;
        border-top: 8px solid lightskyblue;
    }
}
::-webkit-scrollbar {
    display: none;
}